.container {
  display: flex;
  flex-direction: column;

  padding-left: 5%;
}

h1 {
  width: 27vw;
  height: 7.5;
  left: 68px;
  top: 951px;

  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 58px;
  /* identical to box height */

  color: #ffffff;
}
.movies {
  display: flex;
  flex-wrap: wrap;
}
.contents {
  display: flex;
  flex-direction: column;
  width: 30%;

  max-height: 600px;

  padding: 10px 10px;
  box-sizing: border-box;
}
.content {
  background: #050e12;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}

.poster {
  height: 400px;
  object-fit: cover;
  width: 300px;
  align-self: center;
  align-items: center;
  padding-left: 10%;
}
.tit {
  color: #ffffff;
  padding-left: 10%;
}
.d {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #828282;
  padding-left: 10%;
}
.lastdiv {
  display: flex;
  padding-top: 5vw;
}
.footer {
  padding-top: 7vw;
}
.footerp {
  left: 70px;
  top: 2980px;

  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 58px;

  color: #e2e2e2;
}
.p {
  color: #e2e2e2;
  padding-top: 20px;
  padding-left: 10px;
  font-size: 28px;
  font-family: Inter;
  font-style: normal;
  font-weight: 100;
}
.biggy {
  text-decoration-line: underline;
}
