.container {
  display: flex;
  margin-top: 10vh;
  align-items: center;
  flex-direction: row;
}
.result {
  display: flex;
  flex-wrap: wrap;
}
.contents {
  display: flex;
  flex-direction: column;
  width: 30%;
  align-items: center;
  max-height: 600px;

  padding: 15px 30px;
  box-sizing: border-box;
}
.poster {
  height: 400px;
  object-fit: cover;
  width: 300px;
  align-self: center;
  align-items: center;
  padding-left: 10%;
}
.title {
  color: #ffffff;
  padding-left: 10%;
}
.p {
  color: #ffffff;
  padding-left: 12%;
}
.link {
  text-decoration-line: none !important;
}
