.bigcontainer {
  display: flex;
  height: 80vh;
  width: 100vw;
}
.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  opacity: 0.4;
  padding-top: 100px;
}
.h1 {
  color: #ffffff;
  max-width: 50% !important;
}

.info {
  bottom: 30%;
  padding-left: 5%;
  width: 80%;
}

.trading {
  display: flex;
  align-items: center;
  flex-direction: row;
  position: absolute;
}
.rating {
  font-family: Roboto;

  padding-left: 10px;
  color: #ffffff;
  font-weight: bold;
  font-size: 32px;
}
.Bl {
  display: flex;

  color: #ffffff !important;
  width: 70%;
  left: 82px;
  top: 504px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 33px;
}
@media (max-width: 1200px) {
  .bigcontainer {
    width: 100vw;
  }
  .info {
    bottom: 0%;
    padding-left: 3%;
  }
}

@media (min-width: 892px) and (max-width: 1119px) {
  .bigcontainer {
    width: 100vw !important;
    height: 70vh;
  }
  .info {
    bottom: 10%;
  }
}
@media (min-width: 555px) and (max-width: 891px) {
  .bigcontainer {
    height: 85vh;
  }
  .info {
    bottom: 10%;
  }
  .Bl {
    width: 80vw;
    height: 50vh;
  }
}
@media (min-width: 468px) and (max-width: 554px) {
  .bigcontainer {
    height: 60vh;
  }
  .info {
    bottom: 10%;
  }
  .Bl {
    display: none;
  }
  .trading {
    margin-left: 80vw;
  }
}
@media (min-width: 200px) and (max-width: 468px) {
  .Bl {
    display: none;
  }
  .bigcontainer {
    height: 50vh;
  }
}
