.bigcontainer {
  display: flex;
  height: 100vh;
}
.container {
  display: flex;
  flex-direction: column;
  width: 100vw;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  opacity: 0.4;
  padding-top: 100px;
}
.h1 {
  color: black;
  color: #ffffff;
}

.info {
  position: absolute;
  bottom: 30%;
  left: 5vw;
}
.trading {
  display: flex;
  align-items: center;
  flex-direction: row;
  position: absolute;
}
.rating {
  font-family: Roboto;

  padding-left: 10px;
  color: #ffffff;
  font-weight: bold;
  font-size: 32px;
}
.Bl {
  display: flex;

  color: #ffffff !important;
  width: 862px;
  height: 206px;
  left: 82px;
  top: 504px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 33px;
}
