.container {
  display: flex;

  width: 100%;

  flex-direction: column;
}
h1 {
  width: 70% !important;
  height: 7.5;
  left: 68px;
  top: 951px;
  margin-left: 5%;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 58px;
  /* identical to box height */

  color: #ffffff;
}
.movies {
  display: flex;
  flex-wrap: wrap;
  margin-left: 5%;
}
.contents {
  display: flex;
  flex-direction: column;
  width: 30%;

  height: 700px;
  padding: 12px 10px;
  box-sizing: border-box;
}

.poster {
  max-height: 600px;
  object-fit: cover;
}
@media (min-width: 1110px) and (max-width: 1339px) {
  .contents {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: 700px;
    margin-left: 2%;
  }
  .poster {
    width: 29vw !important;
  }
}
@media (min-width: 800px) and (max-width: 1109px) {
  .contents {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: 500px;
    margin-left: 2%;
  }
  .poster {
    width: 29vw !important;
  }
}
@media (min-width: 500px) and (max-width: 799px) {
  .contents {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: 400px;
    margin-left: 2%;
  }
  .movies {
    display: flex;
    flex-wrap: wrap;
    margin-left: 4%;
  }
  .poster {
    width: 29vw !important;
  }
}
@media (min-width: 200px) and (max-width: 499px) {
  h1 {
    width: 50vw !important;
    font-size: 20px !important;
  }
  .contents {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: auto;
    margin-left: 2%;
  }
  .poster {
    width: 29vw !important;
  }
}
