.container {
  display: flex;
  padding-left: 5%;

  flex-direction: column;
}
h1 {
  width: 27vw;
  height: 7.5;
  left: 68px;
  top: 951px;

  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 58px;
  /* identical to box height */

  color: #ffffff;
}
.movies {
  display: flex;
  flex-wrap: wrap;
}
.contents {
  display: flex;
  flex-direction: column;
  width: 33%;
  max-width: 33%;
  height: 700px;
  padding: 12px 10px;
  box-sizing: border-box;
}

.poster {
  max-height: 600px;
  object-fit: cover;
}
